<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>NetReal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
 <link href="{{ url_for('static', filename='img/NetReal.png') }}" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- Vendor CSS Files -->

<link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

     <h1 class="logo me-auto"><a href="{{ url_for('index') }}">NetReal</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{ url_for('index') }}">Home</a></li>
          <li><a class="nav-link " href="{{ url_for('course') }}">Courses</a></li>
{% if 'user_email' in session %}
    <li><a class="getstarted scrollto" href="{{ url_for('profile') }}">Profile</a></li>
{% else %}
    <li><a class="getstarted scrollto" href="{{ url_for('login_register') }}">Register/Login</a></li>
{% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <br>
  <main id="main">

      <section id="portfolio" class="portfolio">
      <div class="container" >

        <div class="section-title">
          <h2>CyberSecurity</h2>
            <div>
           <div class="container my-4">

    <!-- Module 1 -->
    <div class="card mb-4">
    <div class="card-body">
        <h1 class="card-title">Introduction to Network module</h1>
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="{{ url_for('static', filename='img/Nmap2.jpg') }}" class="img-fluid" alt="Nmap Introduction">
            </div>
            <div class="col-md-7" style="border: 1px solid #ccc; padding: 20px; border-radius: 10px;">
                <p class="font-weight-bold">Description:</p>
                <p>Nmap is a powerful open-source tool for network scanning and security auditing. In this module, you will learn the basics of Nmap and its importance in network security.</p>
                <p class="font-weight-bold">Module Content:</p>
                <ul class="list-unstyled">
                    <li>Understanding the fundamentals of network scanning</li>
                    <li>Installing Nmap</li>
                    <li>Scanning options and techniques</li>
                </ul>
                <a class="btn btn-primary mt-3" href="{{ url_for('task_page') }}">Start Module</a>
            </div>
        </div>
    </div>
</div>


    <!-- Module 2 -->
    <div class="card mb-4">
    <div class="card-body">
        <h1 class="card-title">SQL Injection</h1>
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="{{ url_for('static', filename='img/SqlInjection.png') }}" class="img-fluid" alt="Advanced Nmap Scanning">
            </div>
            <div class="col-md-7" style="border: 1px solid #ccc; padding: 20px; border-radius: 10px;">
                <p class="font-weight-bold">Description:</p>
                <p>Explore the realm of SQL injection, a prevalent cybersecurity threat. This module provides an in-depth understanding of SQL injection vulnerabilities and techniques, equipping you with the knowledge to secure databases against potential attacks.</p>
                <p class="font-weight-bold">Module Content:</p>
                <ul class="list-unstyled">
                    <li>Introduction to SQL injection vulnerabilities</li>
                    <li>Exploiting SQL injection for unauthorized access</li>
                    <li>Mitigation strategies and best practices</li>
                </ul>
                <a class="btn btn-primary mt-3" href="{{ url_for('task_page1') }}">Start Module</a>
            </div>
        </div>
    </div>
</div>


    <!-- Related Modules -->
{#    <div class="card-deck">#}
{#        <div class="card">#}
{#            <img src="{{ url_for('static', filename='img/image3.jpg') }}" class="card-img-top img-fluid" alt="Module 2">#}
{#            <div class="card-body">#}
{#                <h5 class="card-title">Module 2</h5>#}
{#                <p class="card-text">Advanced Nmap Scanning</p>#}
{#                <a href="#" class="btn btn-primary float-right">Explore</a>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="card">#}
{#            <img src="{{ url_for('static', filename='img/image3.jpg') }}" class="card-img-top img-fluid" alt="Module 2">#}
{#            <div class="card-body">#}
{#                <h5 class="card-title">Module 2</h5>#}
{#                <p class="card-text">Advanced Nmap Scanning</p>#}
{#                <a href="#" class="btn btn-primary float-right">Explore</a>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="card">#}
{#            <img src="{{ url_for('static', filename='img/image3.jpg') }}" class="card-img-top img-fluid" alt="Module 2">#}
{#            <div class="card-body">#}
{#                <h5 class="card-title">Module 2</h5>#}
{#                <p class="card-text">Advanced Nmap Scanning</p>#}
{#                <a href="#" class="btn btn-primary float-right">Explore</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>

            </div></div>
      </div> </section>
  </main>
<footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>NetReal</span></strong>
      </div>


    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body></html>