<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>NetReal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
 <link href="{{ url_for('static', filename='img/NetReal.png') }}" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- Vendor CSS Files -->

<link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

     <h1 class="logo me-auto"><a href="{{ url_for('index') }}">NetReal</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{ url_for('index') }}">Home</a></li>

          <li><a class="nav-link " href="{{ url_for('course') }}">Courses</a></li>


        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <br>
  <main id="main">

      <section id="contact" class="contact">
      <div class="container" >

        <div class="section-title">
          <h2>User Profile</h2>
           </div>
       <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ url_for('static', filename='img/account.png') }}" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">{{ user_data[0] }} {{ user_data[1] }}</h5>
    <p class="card-text">Email: {{ user_data[3] }}</p>
    <p class="card-text">Mobile: {{ user_data[2] }}</p>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item">User ID: {{ user_data[4] }}</li>
    {% if user_data[5] == 1 %}
        <div class="alert alert-success" role="alert">
       Admin
</div>

    {% endif %}
{% if 'user_email' in session %}
    <li class="list-group-item"><a class="getstarted scrollto btn btn-danger" href="{{ url_for('logout') }}">
        Logout
    </a></li>
{% endif %}
</ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <h5 class="card-title">Enrolled Courses</h5>
                <p class="card-text"></p>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>



      </div> </section>
  </main>
<footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>NetReal</span></strong>
      </div>


    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body></html>