<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>NetReal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
 <link href="{{ url_for('static', filename='img/NetReal.png') }}" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- Vendor CSS Files -->

<link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

     <h1 class="logo me-auto"><a href="{{ url_for('index') }}">NetReal</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{ url_for('index') }}">Home</a></li>
          <li><a class="nav-link " href="{{ url_for('course') }}">Courses</a></li>
{% if 'user_email' in session %}
    <li><a class="getstarted scrollto" href="{{ url_for('profile') }}">Profile</a></li>
{% else %}
    <li><a class="getstarted scrollto" href="{{ url_for('login_register') }}">Register/Login</a></li>
{% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <br>
  <main id="main">

      <section id="portfolio" class="portfolio">
      <div class="container" >

        <div class="section-title">
          <h2>NMap</h2>
            <div>
             <div class="row mt-4">
            <div class="col-md-12">
                <div class="text-center my-4">
                 <h2 style="color: black" >Learn the basics of Network Enumeration</h2>
                </div>
            </div>
        </div>

       <!-- Nmap Box -->
<div class="row my-4">
    <div class="col-md-12">
        <div class="card" style="background-color: #add8e6;">
            <div class="container">
                <label class="font-weight-bold">
                    <i class="fas fa-graduation-cap"></i> Nmap for beginners
                </label>
                <div class="control-options">
                    <div class="task-count">Tasks Available: 3</div>
                    <div class="progress-text">
                        <span class="progress-icon">✅</span> Completed: 1
                        <span class="progress-icon">⬜</span> Remaining: 2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- virtual Box -->
<div class="row my-4">
    <div class="col-md-8 mx-auto">
        <div class="card" class="card border-primary" style="background-color: #add8e6;">
            <div class="card-body">
                <p class="font-weight-bold">START MACHINE</p>
                <p class="font-weight-bold">Start the target machine, and the IP will show here</p>
                <button id="startMachineBtn" style="float: right;" class="btn btn-dark" class="font-weight-bold" name="nmap">Start Machine</button>
            </div>
        </div>
    </div>
</div>

       <!-- TASK 1 -->
<div class="row my-4">
    <div class="col-md-8 mx-auto text-center">
        <div class="card border-primary" style="background-color: #add8e6;">
            <div class="card-body">
                <p class="font-weight-bold">TASK 1</p>
                <p class="font-weight-bold">What is the name of the most common tool for finding open ports on a target?</p>
                <label class="font-weight-bold">Answer:</label>
                <input type="text" id="ans1" class="form-control" placeholder="xxxxxxxxxxxxxxx">
                <button class="btn btn-primary mt-3" style="float: right;" onclick="markTaskCompleted(1)">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- TASK 2 -->
<div class="row my-4">
    <div class="col-md-8 mx-auto text-center">
        <div class="card border-primary" style="background-color: #add8e6;">
            <div class="card-body">
                <p class="font-weight-bold">TASK 2</p>
                <p class="font-weight-bold">What was the service running on port 80 and 443?</p>
                <label class="font-weight-bold">Answer:</label>
                <input type="text" id="ans2" class="form-control" placeholder="xxxxxxxxxxxxxxx">
                <button class="btn btn-primary mt-3"style="float: right;" onclick="markTaskCompleted(2)">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- TASK 3 -->
<div class="row my-4">
    <div class="col-md-8 mx-auto text-center">
        <div class="card border-primary" style="background-color: #add8e6;">
            <div class="card-body">
                <p class="font-weight-bold">TASK 3</p>
                    <p class="font-weight-bold"> was the service running on port 3389?</p>
                <label class="font-weight-bold">Answer:</label>
                <input type="text" id="ans3" class="form-control" placeholder="xxxxxxxxxxxxxxx">
                <button class="btn btn-primary mt-3" style="float: right;" onclick="markTaskCompleted(3)">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- TASK 4 -->
<div class="row my-4">
    <div class="col-md-8 mx-auto text-center">
        <div class="card border-primary" style="background-color: #add8e6;">
            <div class="card-body">
                <p class="font-weight-bold">TASK 4</p>
                <p class="font-weight-bold">What is the CVE version of the vulnerability in the RDP?</p>
                <label class="font-weight-bold">Answer:</label>
                <input type="text" id="ans4" class="form-control" placeholder="xxxxxxxxxxxxxxx">
                <button class="btn btn-primary mt-3" style="float: right;" onclick="markTaskCompleted(4)">Submit</button>
            </div>
        </div>
    </div>
</div>
            </div></div>
      </div> </section>
  </main>
<footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>NetReal</span></strong>
      </div>


    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Attach a click event handler to the button
        $('#startMachineBtn').click(function () {
            // Make an AJAX request
            var osName = $(this).data('name');
            $.ajax({
                type: 'POST',
                url: '/api/deploy-vm',
                dataType: 'json',
                 data: { name: osName },
                success: function (data) {
                    // Handle the success response
                    console.log(data);
                    // You can perform additional actions here
                },
                error: function (error) {
                    // Handle the error response
                    console.error(error);
                    // You can perform additional actions here
                }
            });
        });
    });
</script>

</body></html>